@font-face {
    font-family: 'Segment7';
    src: url('G7_Segment_7a.ttf') format('truetype');
}

/* Global colors */
:root {
    --background: #1A1B26;
    --text-color: #A9B1D6;
    --primary-color: #BB9AF7;
    --secondary-color: #2F3755;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Fira Code', monospace;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    /* height: 100vh; why is this here? */
    overflow: hidden;
    width: 90%;
}

main {
    padding: 1em;
    margin: 1rem;
    flex-grow: 5;
}

#content {
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: center;
    color: var(--text-color);
    background-color: var(--secondary-color);
    font-size: 1em;
    padding-bottom: 0;
}

pre {
    margin: 3em 1em 0 0;
}

h2 {
    text-align: center;
    font-size: 2em;
}

.box {
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: #BB9AF7 4px solid;
    border-radius: 5px;
    margin-bottom: 4rem;
}

footer {
    text-align: center;
    color: var(--text-color);
    font-size: 0.8em;
    margin-top: 2rem;
}

#profit {
    text-align: center;
}

.negative {
    background-color: red;
}

.positive {
    background-color: greenyellow;
}